<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#317EFB" />
    <meta name="description" content="website untuk mendapatkan informasi restoran-restoran kekinian dan terlengkap">
    <meta name="keywords" content="Restoran, makanan, minuman">
    <meta name="author" content="Hasan Romadon">
    <title>Kulinary - web untuk cari Restoran favoritmu</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap"
        rel="stylesheet" />
</head>

<body id="root">
    <navbar-comp></navbar-comp>
    <hero-comp></hero-comp>
    <main id="main">
        <section class=" section section_category">
            <div class="container">
                <h3 class="section__title" tabindex="0">Restoran berdasarkan kategori</h3>
                <div class="category-wrapper">
                    <!-- content -->
                </div>
            </div>
        </section>
        <section class="section section__popular">
            <div class="container">
                <h3 class="section__title" tabindex="0">Restoran populer baru-baru ini</h3>
                <div class="section__popular__wrapper">
                    <!-- content -->
                </div>
            </div>
        </section>
        <section class="section section__around">
            <div class="container">
                <div class="section__around__wrapper">
                    <!-- content -->
                </div>
            </div>
        </section>
        <section class="section section__subscribe">
            <div class="section__subscribe__wrapper">
                <p>Kunjungi kami untuk tetap dapat update menarik seputar restoran!</p>
            </div>
        </section>
    </main>
    <footer-comp></footer-comp>
</body>

</html>