<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#317EFB" />
    <meta name="description" content="website untuk mendapatkan informasi restoran-restoran kekinian dan terlengkap">
    <meta name="keywords" content="Restoran, makanan, minuman">
    <meta name="author" content="Hasan Romadon">
    <title>Kulinary - web untuk cari Restoran favoritmu</title>
    <link rel="icon" href="images/icons/favicon.ico" type="image/x-icon">   
    <link rel="apple-touch-icon" href="images/icons/icon-128x128.png">
    <link rel="manifest" href="manifest.json">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap"
        rel="stylesheet" />
</head>

<body>
    <navbar-comp></navbar-comp>
    <main tabindex="0" id="mainContent">
        <loading-comp></loading-comp>
    </main>
    <footer-comp></footer-comp>


</body>
</html>
